<?xml version="1.0" encoding="UTF-8"?>
<config>
	<in>
		<path>in/example.csv</path>
	</in>
	<out>
		<path>out/</path>
	</out>
	<modification>
		<include-characters>0123456789+-,.!?- </include-characters>
		<exclude-characters>{}</exclude-characters>
	</modification>
	<combine>
        <name>default</name>
        <column>en</column>
        <column>de</column>
        <column>ru</column>
    </combine>
</config>